:root {
    /*  Color Variables */
    --color-green: #1b4d3e;
    --color-gold: #f9b233;
    --color-accent-ref: #e63946;
    --color-accent-darker: #c41d2b;
    --color-offwhite: #f1faee;
    --color-text: black;
    --border-gold-gradient: linear-gradient(to bottom right, #f9d976, #f39c12, #f1c40f);
    --border-radius-button: 5px;

    /* Font */
    --font-headings: 'Rubik', sans-serif;
    --font-body: 'Bebas Neue', sans-serif;
    --font-extra: 'Rajdhani', sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: var(--color-offwhite);
}

.hero-teams {
    background-color: var(--color-green);
    color: var(--color-gold);
    padding: 150px 50px 30px;
    font-family: var(--font-body);
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    margin-top: 50px;
}

.hero-teams::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to left, var(--color-green) 20%, rgb(90, 238, 90) 100%);
}

.hero-teams::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to right, var(--color-green) 20%, rgb(90, 238, 90) 100%);
}

.hero-teams h1{
    font-weight: normal;
    font-size: 6rem;
    margin: 0;
}

.filter-links 
{
    display: flex;
    justify-content: center;
}

.filter-links a {
    text-decoration: none;
    padding: 9px;
    color: white;
    background-color: var(--color-green);
    border: solid var(--color-gold);
    border-radius: 4px;
    margin: 4px;
    font-family: var(--font-headings);
}

/****** PLAYER CARDS ******/
.faction-name {
    font-size: 4rem;
    text-align: center;
    color: var(--color-green);
    font-family: var(--font-headings);
    text-decoration: underline;
}

.players {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 1rem;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    gap: 6rem;
    justify-content: center;
}

.player-card {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 340px;
    background: linear-gradient(to bottom, rgb(252, 235, 143), rgb(252, 243, 195));
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 1rem;
}

.player-card-photo {
    flex: 6;
    overflow: hidden;
}

.player-card-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.player-card-name h3 {
    margin: 0.5rem 0 0;
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-headings);
}

.player-card-name p {
    font-weight: bold;
    margin: 0.2rem 0;
    font-family: var(--font-extra);
}

.player-card-name {
    flex: 4;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.player-stat-btn {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 1rem 2rem;
    background: linear-gradient(45deg, var(--color-green) 20%, rgb(90, 238, 90) 100%); /* example gold */
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: var(--font-headings);
    transition: all 0.4s ease-in-out;
}

.player-stat-btn:hover {
    background: linear-gradient(90deg, rgb(90, 238, 90) 0%, var(--color-green) 80%);
    transform: scale(1.08);
    box-shadow: 0 0 12px rgba(90, 238, 90, 0.6);
    cursor: pointer;
}
